.watchedlist-container {
  margin: 10vh 0 0 0;

  .title-container {
    margin: 15vh 0 0 0;
    text-align: center;

    p {
      margin: 0;
      color: white;
      font-family: MontserratSemiBold;
      font-size: 22px;
    }
  }
}
