<div class='watchedlist-container'>
  <%= render partial: './components/dashboard_navbar' %>

  <div class='title-container'>
    <%= tag.p 'Movies you have watched' %>
  </div>

  <% @movies = @watchedlist %>
  <% if @movies.present? %>
    <%= render partial: './components/watchlist/movies_list' %>
  <% end %>
</div>
