<div class='icons-content' title='Sechedule movie to watch later!' id='schedule-movie'>
  <%= image_tag 'clock-shape.svg', class: 'icon-shape' %>
  <%= image_tag 'clock-line.svg', class: 'icon-line' %>
</div>
