<div class='background-similar' style='background-image: url(<%= "#{@configuration.base_url}w1920_and_h1080_face#{@images['backdrops'].last['file_path']}" %>)'></div>

<div class='similar-movies-container'>
  <% if @similar_movies %>
		<%= tag.p 'Similar Movies' %>
    <div class='mount-similar' >
		  <% @similar_movies.first(25).each do |movie| %>
  			  <% if movie %>
  				  <%= link_to movie_path(id: movie.id) do %>
  					  <%= image_tag("#{@configuration.base_url}w200#{movie.poster_path}") if movie.poster_path %>
  				  <% end %>
  			  <% end %>
		  <% end %>
    </div>
	<% end %>
</div>
