$default_gray: #707070;
$default-red: #db131d;
$form-background: #F5F5F5;
$white: #FFFFFF;

.navbar {
  height: 10vh;
  background-color: #161b22;
  display: inline-flex;
  width: 100%;
  position: fixed;
  top: 0;

  .search-bar {
    width: 40%;
    display: flex;
    align-items: center;

    form {
      width: 100%;

      input {
        width: 100%;
        color: white;
        margin: 0 30px 0 30px;
        height: 25px;
        background-color: #0d1117;
        border: 1px solid #21262d;
        padding: 5px 10px 5px 10px;
      }

      ::placeholder {
        font-family: MontserratRegular;
        font-size: 14px;
        color: $white;
        opacity: 1;
      }
    }

  }

  .links {
    width: 50%;
    height: 10vh;
    margin: 0 100px 0 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    a {
      font-family: MontserratSemiBold;
      color: $white;
      text-decoration: none;
      margin: 0 10px 0 10px;
    }

    a:hover {
      text-decoration: underline;
      transition: 0.3s;
    }
  }

  .user-content {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0 100px 0 0;

    .notification {
      width: 25px;
      margin: 0 10px 0 10px;
    }

    .user-avatar {
      margin: 0 10px 0 10px;
      width: 30px;
      border-radius: 100%;
    }
  }
}
