<div class='movies-container'>
  <%= render partial: './components/dashboard_navbar' %>
  <%= render partial: './components/movie/overview' %>

  <div class='information-container'>
    
  </div>
</div>
