.movies-container {
  margin: 0;

  .information-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 0.8fr 1.2fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "content content content sidebar"
      ". . . ."
      ". . . .";

    .sidebar {
      width: 100%;
      grid-area: sidebar;
      background-color: #161b22;

      .share-container {
        margin: 50px 0 0 0;

        .title {
          font-family: MontserratSemiBold;
          font-size: 20px;
          color: white;
          text-align: center;
        }

        .icons-container {
          display: grid;
          grid-template-columns: 60px 60px 60px;
          justify-content: center;
          gap: 10px;

          .icons-content {
            display: flex;
            align-items: center;
            justify-content: center;
            width: fit-content;
            height: fit-content;
            padding: 10px;
            border-radius: 100px;
            border: 2px solid white;
            cursor: pointer;

            .icon-white {
              width: 30px;
            }

            .icon-black {
              width: 30px;
              display: none;
            }
          }

          .icons-content:hover {
            background-color: white;
            .icon-white {
              width: 30px;
              display: none;
            }

            .icon-black {
              width: 30px;
              display: block;
            }
          }
        }
      }
    }
  }
}
