<div class='dashboard-container'>
  <%= render partial: './components/dashboard_navbar' %>
  <div class='container'>
    <div class="title-container">
      <%= tag.p t('views.home.dashboard.now_playing') %>
    </div>
    <%= render partial: './components/movies_list' %>
  </div>
</div>
