<div class='dashboard-container'>
  <%= render partial: './components/dashboard_navbar' %>
  <div class='container'>
    <div class="title-container">
      <%= tag.p 'Movies on display' %>
    </div>
    <%= render partial: './components/movies_list' %>
  </div>
</div>
