.trailer-container {
  text-align: center;
  .trailer-text {
    p {
      color: white;
      font-family: MontserratSemiBold;
      font-size: 24px;
    }
  }

  .trailer-video {
    iframe {
      margin: 0 0 30px 0;
    }
  }
}
