body {
  background-color: #0d1117;

  .container {
    margin: 15vh 0 0 0;
    height: fit-content;
    background-color: #0d1117;

    .title-container {
      margin: 50px 0 0 10%;

      p {
        margin: 0;
        color: white;
        font-family: MontserratSemiBold;
        font-size: 22px;
      }
    }
  }
}
