$form-background: #161b22;
$background: #0d1117;
$white: #FFFFFF;


  .create-user {
    background-color: $background;
    width: 100vw;
    height: 100vh;

    display: grid;
    align-items: center;
    justify-content: center;
  }

  .register-container {
    background-color: $form-background;
    width: 90vw;
    height: 90vh;

    border-radius: 30px;

    .register-form {
      text-align: center;
      display: grid;
      align-items: center;
      justify-content: center;

      h1 {
        margin-top: 10px;
        margin-bottom: 10px;
        font-family: "SegoeBold";
        color: $white;
      }

      .form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
          "a b"
          "a b"
          "a b"
          "c c";

        align-items: center;
        justify-content: center;

        width: 900px;

        .field {
          position: relative;
          line-height: 14px;
          margin: 0 10px;
          display: inline-block;

          .links {
            color: $white;
            text-decoration: underline;
            font-family: 'SegoeRegular';
            margin:0 20px 10px 0;
            font-size: 16px;
            display: block;
            text-align: right;
          }

          .avatar-upload {
            color: $white;
          }

          p {
            font-size: 18px;
            margin: 0 30px;
            text-align: left;
            color: $white;
            font-family: "SegoeRegular";
          }
          .input {
            position: relative;
            border: 1px solid #21262d;
            border-radius: 8px;
            padding-left: 20px;
            padding-right: 16px;
            width: 370px;
            height: 50px;
            color: $white;
            background-color: $background;
            font-size: 16px;
            font-family: "SegoeRegular";
            margin: 12px;

            &:invalid + label {
              transform: translateY(0);
            }

            &:focus {
              & + label {
                outline: none;
                border: none;
                transform: translateY(-26px);
              }
            }
          }

          .input:focus {
            outline: none;
          }

          label {
            color: $white;
            font-size: 18px;
            position: absolute;
            z-index: 2;
            left: 30px;
            top: 30px;
            padding: 0 2px;
            pointer-events: none;
            transition: transform 300ms ease;
            transform: translateY(-28px);
            font-family: "SegoeRegular";
          }

          .avatar-label {
            text-align: center;
            margin: 0 0 20px 0;
          }
        }

        .buttons {
          grid-area: c;

          .submit-button {
            position: relative;
            background-color: transparent;
            border: $white solid 2px;
            border-radius: 8px;
            padding-left: 20px;
            padding-right: 16px;
            width: 408px;
            height: 50px;
            color: $white;
            font-size: 20px;
            font-family: "SegoeBold";
            margin: 12px;
            cursor: pointer;
          }

          .submit-button:hover {
            color: $form-background;
            background-color: $white;
          }
        }
      }
    }

    .omni-auth {
      margin: 10px 0 0 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      .facebook {
        border-radius: 5px;
        background-color: #4177F2;

        img {
          left: 10px;
          border-radius: 5px;
        }
      }

      button {
        cursor: pointer;
        background: none;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        border-radius: 5px;
        width: 410px;
        position: relative;
        height: 50px;
        padding: 0 15px 0 15px;
        font-family: MontserratSemiBold;
        color: white;

        img {
          width: 30px;
          position: absolute;
        }
      }
    }

    h1 {
      margin: 0;
    }
  }
